p{
    color: blue;
}
.importante {
  background-color: yellow;
}

#titulo {
  font-size: 30px;
  color: green;
}

*{
  margin: 0;
  padding: 0;
}

[type="text"] {
  border: 2px solid red;
}